<h2>Food Trucks List</h2>
<% if current_user && current_user.avatar.url %>
  <%= image_tag(current_user.avatar.url) %>
<% end %>
<ul>
  <% @food_trucks.each do |truck| %>
    <li>

      <%= link_to "Upvote",  upvote_food_truck_path(truck), method: :post %>
      <%= link_to "Downvote",  downvote_food_truck_path(truck), method: :post %>

      <%= truck.cached_votes_score %>
      - <%= link_to truck.name, food_truck_path(truck) %>
    </li>
  <% end %>
</ul>

<%= paginate @food_trucks %>
