<%= form_for @food_truck do |f| %>
  <% if @food_truck.errors.any? %>
    <ul>
    <% @food_truck.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div class="well well-sm">
          <fieldset>
            <legend class="text-center">Create A New Food Truck</legend>
            <div class="form-group">
              <label class="col-md-3 control-label" for="name"><%= f.label :name %>:</label>
              <div class="col-md-9">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="email"><%= f.label :category %>:</label>
              <div class="col-md-9">
                <%= f.text_field :category, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"><%= f.label :description %>:</label>
              <div class="col-md-9">
                <%= f.text_area :description, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-right">
                <%= f.submit 'Submit', class: "btn btn-primary" %>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
  </div>
</div>
<% end %>
