<h1> <%= @food_truck.name %> </h1>

<p><%= @food_truck.category %></p>
<br>
<p><%= @food_truck.description %></p>

<% if @food_truck.stops.any? %>
  <% @food_truck.stops.each do |stop| %>
    <ul>
      <li><%= stop.time_arrive %></li>
      <li><%= stop.location.name %></li>
    </ul>
  <% end %>
<% end %>

<% if current_user && current_user.admin? %>
  <%= button_to 'Delete', "/admin/food_trucks/#{@food_truck.id}",
          method: :delete, data:
          { confirm: 'Please confirm that you want to delete this food_truck' },
          id: "delete-truck-#{@food_truck.id}" %>
<% end %>

<% if current_user == @food_truck.user %>
  <%= button_to 'Edit Food Truck',
      edit_food_truck_path(@food_truck),
      method: :get %>
<% end %>

<h2> Reviews </h2>

<% @food_truck.reviews.each do |review| %>
  <ul>
    <li>
      <%= link_to "Upvote",
          upvote_food_truck_review_path(@food_truck, review),
          method: :post %>
      <%= link_to "Downvote",
          downvote_food_truck_review_path(@food_truck, review),
          method: :post %>
    </li>
    <li>Score: <%= review.cached_votes_score %></li>
    <li><%= review.rating %></li>
    <li><%= review.body %></li>
    <% if review.user == current_user %>
      <%= button_to 'Delete', food_truck_review_path(@food_truck, review),
        method: :delete, data:
        { confirm: 'Please confirm that you want to delete this review' },
        id: "delete-review-#{review.id}" %>

      <%= form_for [@food_truck, review], html:
        { id: "editing-review-#{review.id}" },
        url: food_truck_review_path(@food_truck, review),
        method: :patch do |f| %>
          <% if review.errors.any? %>
            <p>There were errors with your submission:</p>
            <ul>
              <% review.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>

          <%= f.label :rating, 'It was Not Good', value: 1 %>
          <%= f.radio_button :rating, 1 %>
          <%= f.label :rating, 'It was OK', value: 2 %>
          <%= f.radio_button :rating, 2 %>
          <%= f.label :rating, 'It was Good', value: 3 %>
          <%= f.radio_button :rating, 3 %>
          <%= f.label :rating, 'Really Good', value: 4 %>
          <%= f.radio_button :rating, 4 %>
          <%= f.label :rating, 'Fantastic', value: 5 %>
          <%= f.radio_button :rating, 5 %>

          <%= f.label :body %>
          <%= f.text_area :body %>
          <%= f.submit "Save changes" %>
        <% end %>
      <% end %>
  </ul>
<% end %>


<h3>Post new Review</h3>
<%= form_for [@food_truck, @review] do |f| %>
  <% if @review.errors.any? %>
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :rating %>
  <br>
  <%= f.label :rating, 'It was Not Good', value: 1 %>
  <%= f.radio_button :rating, 1 %>
  <%= f.label :rating, 'It was OK', value: 2 %>
  <%= f.radio_button :rating, 2 %>
  <%= f.label :rating, 'It was Good', value: 3 %>
  <%= f.radio_button :rating, 3 %>
  <%= f.label :rating, 'Really Good', value: 4 %>
  <%= f.radio_button :rating, 4 %>
  <%= f.label :rating, 'Fantastic', value: 5 %>
  <%= f.radio_button :rating, 5 %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'Submit' %>

<% end %>

<p>
  This food truck was submitted by <%= @food_truck.user.email %>.
</p>
