<!DOCTYPE html>
<html>
<head>
  <title>FoodTrucks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <header class="page-header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Food Trucks Home', food_trucks_path %></li>
            <li><%= link_to 'New Food Truck', new_food_truck_path %></li>
             <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Login', new_user_session_path, method: :get %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, method: :get %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id = 'content'>
    <%= yield %>
  </div>
</body>
</html>
