<!DOCTYPE html>
<html>
<head>
  <title>FoodTrucks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to "Login", new_user_session_path, method: :get %><%= button_to "Sign Up", new_user_registration_path, method: :get %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <div class='navbar-fixed-bottom foot'>
    <%= link_to 'Food Trucks Home', food_trucks_path %> | <%= link_to 'New Food Truck', new_food_truck_path %>
  </div>

  <script src="/public/javascripts/jquery.js" ></script>
  <script src="/app/assets/javascripts/application.js" ></script>
</body>
</html>
